@model IList<Nightjar.ToTheLast.Entities.Profile>
@{
    ViewBag.Title = "The Band";
}

<h2>The Band</h2>
@{var imageFloat = "right"; var rnd = new Random((int)DateTime.Now.Ticks); }
@foreach (var item in Model)
{
    <div class="band-member" style="padding-bottom:1em;">
        <h3>@item.Name</h3><a name="@item.Name.ToString().Replace(" ","-")"></a>
        <div>
            @if (item.ImageExists)
            {
                var degree = string.Format("{0}deg", (rnd.Next(-3, 3)));
                <img src="/sitecontent/images/band/@item.ImageName" style="float:@imageFloat;max-height:300px;margin:0 15px;box-shadow: 1px 1px 15px #000;transform: rotateZ(@degree);" />
            }
            @Html.Raw(item.ProfileText)
        </div>
        <div style="clear:both;"></div>
    </div>
    imageFloat = imageFloat == "right" ? "left" : "right";
}


