@model IEnumerable<Nightjar.ToTheLast.Entities.News>

@{
    ViewBag.Title = "News";
}

<h2>Blog</h2>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>

            <td>
                <h3>
                    @Html.DisplayFor(modelItem => item.Subject)
                </h3>
                @Html.DisplayFor(modelItem => item.NewsText)
                <p style="text-align:right;font-style:italic;">@Html.DisplayFor(modelItem => item.DateCreated)</p>
            </td>
        </tr>
    }

</table>
