@model IEnumerable<Nightjar.ToTheLast.Entities.Link>

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

<table class="table">

    @foreach (var item in Model.OrderBy(f => f.SortOrder))
    {
        <tr>
            <td>
                <div><a href="@Html.DisplayFor(modelItem => item.URL)">@Html.DisplayFor(modelItem => item.Title)</a></div>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
        </tr>
    }

</table>
