@model IEnumerable<Nightjar.ToTheLast.Entities.Gallery>

@{
    ViewBag.Title = "Gallery";
}

<h2>Gallery</h2>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.DisplayImage))
                {
                    <a href="@Url.Action("GalleryImages", new {id=item.GalleryID })"><img src="/sitecontent/images/gallery/@item.DisplayImage" style="box-shadow: 1px 1px 7px #000;max-height:200px;" /></a>
                }
            </td>
            <td>
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <p><em>@Html.DisplayFor(modelItem => item.Description)</em></p>
                <p><a href="@Url.Action("GalleryImages", new {id=item.GalleryID })">View all images</a></p>
            </td>
        </tr>
    }

</table>
