@{
    ViewBag.Title = "To The Last";
    var content = (string)ViewBag.Content;
}
@section styles{
    <style>
        .body-content
        {
            font-size:110%;
        }
        .body-content img
        {
            max-height:200px;margin:0 20px;box-shadow: 1px 1px 15px #000;
        }

    </style>
    }

<div class="row" style="margin-top:1em;">
    <div class="col-md-12">
        <p>
            <img style="float:right;transform: rotateZ(3deg);" src="/SiteContent/Images/Gallery/To%20The%20Last%20Brickies%20May%205th.jpg16%20%28Medium%29.jpg" />
            @Html.Raw(content.Substring(0,content.IndexOf("</p>")+4))
            <img style="float:left;transform: rotateZ(-1deg);" src="/SiteContent/Images/Gallery/Rick's%20phone%201269.jpg" />
            @Html.Raw(content.Substring(content.IndexOf("</p>")+4))
        </p>
    </div>
</div>